body{
 background-color:#FEFBF6;
  overflow-x: hidden;
}
h1{
  font-family: 'Playfair Display', serif;
}
h2{
  font-family: 'Raleway', sans-serif;
  margin-bottom : 10%;
}
p{
  font-family: 'Abel', sans-serif;
}
.row{
  margin:5%;
}
.top{
   margin-top: 4%;
   text-align: center;
}
.pred{
   margin-top: 8%;
}
.submit1{
   width:20%;
   height:35px;
   border-radius: 8px;
   border: none;
   color:white;
   background-color:#398AB9;
   font-size:80%;
   margin:2%;
   }
.submit2{
   width:30%;
   height:35px;
   border-radius: 8px;
   border: none;
   color:white;
   background-color:#398AB9;
   font-size:80%;
   }
.text{
   border : none;
   text-align:center;
   width:70%;
   height:200px;
   border-radius: 12px;
   background-color:#DAEAF1;

}
.bottom{
  padding: 2%;
  margin:0%;
  background-color:#DAEAF1;
}
.center {
  margin: auto;
  width: 25%;
  padding: 10px;
}